workflows/First - Enviar mensaje de error a telegram v1.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-05T17:55:53.689Z",
  "id": "7kFBRhDe9GtCHEMg",
  "isArchived": false,
  "meta": null,
  "name": "First - Enviar mensaje de error a telegram v1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1ae2df88-97d1-4082-b57c-1ef9d986de90",
      "name": "When chat message received",
      "webhookId": "482d2016-3051-4c34-b7ad-1d506fad216b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b09cdfd-28b5-4b8f-88a6-970d0f089fcc",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Hola",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "c2350cf5-4918-4c98-a689-90f0d789a820",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        -80
      ],
      "id": "bca38ea1-4abc-410e-855f-60cd87589fe5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "errorMessage": "Ha ocurrido un error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        112
      ],
      "id": "4c230b0a-feb2-455c-bca4-0fbe062f987c",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "lPlsOw5tNYXGMFXR"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-05T18:04:34.000Z",
  "versionId": "9a2d6c01-4e2a-4c30-a58a-511b89b447e0"
}