workflows/First - AI Agent_v2.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "API GOOGLE": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-05T20:00:57.184Z",
  "id": "oehEy1oERBk7S77D",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "First - AI Agent_v2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        -16
      ],
      "id": "cf551623-63e9-4e2d-86c3-ab844bad1dac",
      "name": "When chat message received",
      "webhookId": "2cc26531-82c1-48f6-afd3-18c63ebfd363"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente que me ayuda a buscar en google con la herramienta: API GOOGLE todas las url de la busqueda que te pida por chat el usuario.\n\nSiempre contestar únicamente el listado de nombres y urls que venga de la herramienta API GOOGLE."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        -32
      ],
      "id": "cf91f6b7-2bea-432b-a2b7-b9e5700b1e9f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "1425a4a8-4894-44d2-a362-5347bfc4dca0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sABqF07vec0OFVdP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1XLaTNKJduJtsbZNOA5TRk_Le5f9TqnuvyhvWkQS9hb0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Full 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XLaTNKJduJtsbZNOA5TRk_Le5f9TqnuvyhvWkQS9hb0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Busqueda": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -192,
        -16
      ],
      "id": "bd30b35b-05d9-4bd3-ae1f-3b2862e97af1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CK681pryAaae8AUQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        176
      ],
      "id": "8a095ad4-fb74-43e4-86ca-49dd51eef831",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google usando los términos del usuario.",
        "method": "POST",
        "url": "https://google-api31.p.rapidapi.com/websearch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Host",
              "value": "google-api31.p.rapidapi.com"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-rapidapi-key",
              "value": "3c6959c853msh78defac880ed0bap1b8e88jsn063de0aea736"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        256,
        192
      ],
      "id": "f3418a7c-5de7-41d2-b597-7f1a4d44ce44",
      "name": "API GOOGLE"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1XLaTNKJduJtsbZNOA5TRk_Le5f9TqnuvyhvWkQS9hb0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Full 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XLaTNKJduJtsbZNOA5TRk_Le5f9TqnuvyhvWkQS9hb0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Resultado": "={{ $json.output }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Resultado"
          ],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resultado",
              "displayName": "Resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        416,
        -32
      ],
      "id": "7ac3f8ec-8667-4659-b949-55e099e7fcdc",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CK681pryAaae8AUQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-06T11:12:56.000Z",
  "versionId": "db3eeb9f-fc89-4a32-ae0d-a4bdc947824f"
}