workflows/rag_v2.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T12:34:25.146Z",
  "id": "Xgm8acqDHSAVudxj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "rag_v2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12gv35xejB7klq9fu-isw9AuZ6R_llbod",
          "mode": "list",
          "cachedResultName": "ragv2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12gv35xejB7klq9fu-isw9AuZ6R_llbod"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -80
      ],
      "id": "375ad2d1-aaec-45d0-9fb6-e36e021b1a59",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "faqAQmi4VbkwxFCM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -80
      ],
      "id": "05d59590-f826-4750-9a5f-336e41fb0f7c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "faqAQmi4VbkwxFCM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragv2",
          "mode": "list",
          "cachedResultName": "ragv2"
        },
        "embeddingBatchSize": 512,
        "options": {
          "pineconeNamespace": "ragv2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        -80
      ],
      "id": "6644d092-6160-4f47-bd70-cae46de5078a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bG5BkOrNsswLpTI7",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512,
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        128
      ],
      "id": "6fc5216f-4d7d-49f5-bbbb-acc1ffb17423",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PbTskakKvAONosc7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        512,
        336
      ],
      "id": "62c7d3c7-9ee3-41ee-a5bf-89aac5e4a302",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        128
      ],
      "id": "4fe904ea-1ac3-4007-a83a-26dfe6b671a9",
      "name": "Default Data Loader1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-06T12:55:46.000Z",
  "versionId": "fa1e3d2d-dabf-4161-91c3-ac4e82f00a13"
}